$main-green: #4d8e54

@import '_button'


.App 
    height: 100vh
    display: flex
    justify-content: center
    align-items: center

.main
    display: flex
    justify-content: space-between
    flex-direction: column
    background-color: #fff
    min-height: 30vh
    width: 100%
    margin: 0 1rem
    padding: 0 1rem
    border-radius: 5px
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px

    .header
        margin: 2rem 0 1rem
        text-align: center
        line-height: 2rem
    
@media screen and ( min-width: 480px )
    .main
        width: 50vw

.input
    padding: .4rem
    margin-right: .4rem
    border-radius: 5px
    outline-color: $main-green
    border: 1px solid $main-green
    font-size: 1.1rem
    

.notes
    margin: 1rem 0
    text-align: left
    font-size: 1.1rem
    letter-spacing: .5px
    
    &__item
        background-color: #f7f6f6
        padding: .5rem 1rem
        margin: 1rem 0
        border-radius: 5px
        display: flex
        & p
            display: inline
            flex-grow: 1
              

    .btn-close
        font-size: 1.5rem
        background: transparent
        border-color: transparent
        color: $main-green
        cursor: pointer
        align-self: center

